<div class="product__price">
    {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
        <span class="product__price--sale">
            {{ product.selected_or_first_available_variant.price | money }}
        </span>
        <span class="product__price--compare">
            {{ product.selected_or_first_available_variant.compare_at_price | money }}
        </span>
    {% else %}
        <span class="product__price--regular">
            {{ product.selected_or_first_available_variant.price | money }}
        </span>
    {% endif %}
</div> 