<div class="product__meta">
    <p><strong>SKU:</strong> {{ product.selected_or_first_available_variant.sku }}</p>
    <p><strong>Barcode:</strong> {{ product.selected_or_first_available_variant.barcode }}</p>
    <p><strong>Weight:</strong> {{ product.selected_or_first_available_variant.weight }} {{ product.selected_or_first_available_variant.weight_unit }}</p>
</div>