<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'css-variables' %}
    {% render 'meta-tags' %}
    {% if settings.favicon %}
      <link rel="icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}
    {%- liquid
      render 'vite-tag' with 'theme.scss'
    -%}
    {{ content_for_header }}
  </head>
  <body>
    <header>
      {% sections 'header-group' %}
    </header>
    <main>
      <div class="wrapper">
        {{ content_for_layout }}
      </div>
    </main>
    <footer>
      {% sections 'footer-group' %}
    </footer>
    {%- liquid
    render 'vite-tag' with 'theme.js'
  -%}
  </body>
</html>
