<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'css-variables' %}
    {% render 'meta-tags' %}
    {%- liquid
      render 'vite-tag' with 'theme.scss'
      render 'vite-tag' with 'theme.js'
    -%}
    {{ content_for_header }}
  </head>
  <body>
    <header>
      {% sections 'header-group' %}
    </header>
    <main>
      <div class="wrapper">
        {{ content_for_layout }}
      </div>
    </main>
    <footer>
      {% sections 'footer-group' %}
    </footer>
  </body>
</html>
