<div class="collection">
    <h1>{{ collection.title }}</h1>
    <div class="collection-products">
        {% for product in collection.products %}
          <div class="product">
            <a href="{{ product.url }}">
              {{ product.title }}
            </a>
          </div>
        {% endfor %}
    </div>
</div>

{% schema %}
    {
      "name": "Collection",
      "settings": []
    }
{% endschema %}    