{% comment %}
  Welcome to Shopify theme development!
{% endcomment %}

<div class="welcome full-width">
  <div class="welcome-content">
    <div>
      <h1>Hello, World!</h1>

      <p class="welcome-description">
        The Skeleton theme is a minimal, carefully structured Shopify theme designed to help you quickly get started.
        Designed with modularity, maintainability, and Shopify's best practices in mind.
      </p>

      <p class="welcome-description">
        Themes shape the online store experience for merchants and their customers. Build fast, flexible themes at scale
        using Liquid, Shopify's theme templating language, along with HTML, CSS, JavaScript, and JSON.
      </p>
    </div>
    <div class="icon">
      <img src="{{ 'shoppy-x-ray.svg' | asset_url }}" width="300" height="300">
    </div>
  </div>
</div>

{% stylesheet %}
  .welcome {
    display: grid;
    grid-template-columns: var(--content-grid);
    background-color: #f6f6f7;
    padding: 72px 0;
  }

  .welcome-content {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0 24px;
  }

  .welcome-description {
    max-width: 80ch;
    line-height: 1.4;
    margin-top: 1.5rem;
  }

  .icon {
    width: 300px;
  }

{% endstylesheet %}

{% schema %}
{
  "name": "Hello World",
  "settings": [],
  "presets": [
    {
      "name": "Hello World Template",
      "category": "Demo"
    }
  ]
}
{% endschema %}
