.cart {
  display: grid;

  &__item {
    display: grid;
    grid-template-columns: 80px 2fr 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;

    & + &__item {
      border-top: 1px solid var(--color-border);
    }
  }

  &__item--image img {
    object-fit: cover;
  }

  &__item--details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  &__item--actions {
    display: flex;
    gap: 0.5rem;
  }

  &__item--title a {
    font-size: 0.875rem;
    color: var(--color-foreground);
    text-decoration: none;
  }

  &__item--variant {
    font-size: 0.875rem;
    color: #666;
  }

  &__item--quantity {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__item--price {
    text-align: right;
  }

  &__item--variants {
    font-size: 0.675rem;
  }

  .cart-variant-options {
    display: flex;
    gap: 1rem;
    font-size: 0.7rem;
  }

  .cart-variant-option {
    display: flex;
    gap: 0.2rem;
  }

  .cart-variant-option__name {
    color: var(--color-muted-foreground);
  }

  .cart-variant-option__value {
    color: var(--color-primary);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    border-top: 2px solid #111;
  }
}
