header {
  background-color: var(--color-primary-foreground);
}

.header {
  &__wrapper {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 991px) {
      max-width: 80ch;
      margin: 0 auto;
    }

    a {
      position: relative;
      text-decoration: none;
      color: var(--color-secondary-foreground);
      transition: all 0.3s ease;
    }
  }

  &__logo {
    font-size: 1.3em;
    font-weight: bold;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__menu {
    display: flex;
    gap: 0.3rem;
    list-style: none;
    padding: 0;

    @media (max-width: 991px) {
      display: none;
    }

    a {
      padding: 0.2rem 0.7rem;
      color: var(--color-secondary-foreground);
      border-radius: calc(var(--radius) + 3px);
      transition: all 0.3s ease;

      &:hover {
        color: var(--color-secondary);
        background-color: var(--color-primary);
      }
    }
  }

  &__icons {
    display: flex;
    gap: 0.8rem;

    svg {
      width: 2rem;
    }

    sup {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 95%;
      overflow: hidden;
      font-size: 0.56rem;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background-color: var(--color-secondary);
    }
  }
}
