.hero {
  overflow: hidden;
  display: grid;
  grid-template-columns: var(--content-grid);
  background-color: var(--color-muted);
  padding: 72px 0;
  margin-top: -3rem;
  height: calc(100svh - 4rem);

  @media (max-width: 991px) {
    margin-top: -2rem;
  }

  &__content {
    position: relative;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: -20ch;
      left: 60%;
      width: 145ch;
      height: 145ch;
      transform: rotate(15deg);
      background-color: color-mix(
        in srgb,
        var(--color-background) 65%,
        var(--color-muted) 10%
      );
      z-index: -1;
    }

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  &__description {
    max-width: 80ch;
    line-height: 1.4;
    margin-top: 1.5rem;
  }

  &__icon {
    width: 300px;
  }

  @media (max-width: 991px) {
    padding: 48px 0 0;
  }
}
