.hero {
  display: grid;
  grid-template-columns: var(--content-grid);
  background-color: #e8e8e8;
  padding: 72px 0;

  &__content {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0;

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  &__description {
    max-width: 80ch;
    line-height: 1.4;
    margin-top: 1.5rem;
  }

  &__icon {
    width: 300px;
  }

  @media (max-width: 991px) {
    padding: 48px 0 0;
  }
}
