.product {
  display: grid;
  grid-template-columns: var(--content-grid);
  padding: 2rem 0;

  &__content {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    padding: 0;
  }

  &__inner--left {
    flex: 1;
  }

  &__inner--right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;

    span {
      font-size: 0.7rem;
      color: var(--color-muted-foreground);
    }
  }

  &__price {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-primary);

    &--sale {
      color: var(--color-primary);
    }

    &--compare {
      color: var(--color-muted-foreground);
      text-decoration: line-through;
      font-size: 0.9rem;
    }
  }

  &__options {
    display: flex;
    gap: 0.5rem;

    & legend {
      padding-bottom: 0.25rem;
    }

    & label {
      text-transform: uppercase;
    }
  }

  &__tags {
    & p {
      padding-bottom: 0.25rem;
    }

    & ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 0.5rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}

.option-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  &--color {
    & label {
      width: 32px;
      height: 32px;
      padding: 0;
      min-width: auto;
      border-radius: 50%;
      border: 2px solid var(--color-accent);
      display: inline-block;
      cursor: pointer;

      span {
        display: none;
      }
    }
  }
}
