.highlights {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 991px) {
  .highlights {
    grid-template-columns: 1fr;
  }
}

.highlight {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  padding: calc(0.25rem * 6);
  border: 1px solid var(--color-border);
  background-color: var(--color-card);
  font-size: 0.875rem;
  line-height: 1.4;
}

.highlight h3 {
  font-size: 1.125rem;
  color: var(--color-card-foreground);
}

.highlight-description {
  flex: 1 1;
}
