body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.4;
  min-height: 100svh;
  font-family: var(--font-primary--family);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

main {
  position: relative;
  display: flex;
  flex: 1 0 0;
  padding-bottom: 2rem;
}

select {
  background-color: var(--color-background);
  color: currentcolor;
}

fieldset,
fieldset legend {
  padding: 0;
  border: 0;
}

dialog {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.shopify-section {
  --content-width: min(
    calc(var(--page-width) - var(--page-margin) * 2),
    calc(100% - var(--page-margin) * 2)
  );
  --content-margin: minmax(var(--page-margin), 1fr);
  --content-grid: var(--content-margin) var(--content-width)
    var(--content-margin);
  position: relative;
  grid-template-columns: var(--content-grid);
  display: grid;
  width: 100%;

  &--narrow {
    max-width: var(--page-narrow);
    margin: 0 auto;
  }

  &--404 {
    max-width: var(--page-narrow);
    min-height: calc(100vh - 10rem);
    margin: 0 auto;
    place-content: center;
    text-align: center;

    .page__content {
      justify-content: center;
    }

    .page__inner {
      align-items: center;
    }
  }
}

.shopify-section > * {
  grid-column: 2;
}

.shopify-section > .full-width {
  grid-column: 1 / -1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1 0 0;
}

.rounded-sm {
  border-radius: calc(var(--radius) - 4px);
}

.rounded-md {
  border-radius: calc(var(--radius) - 2px);
}

.rounded-lg {
  border-radius: var(--radius);
}

.rounded-xl {
  border-radius: calc(var(--radius) + 4px);
}
