<div class="shopify-section shopify-section--404">
  <div class="page full-width">
    <div class="page__content">
      <div class="page__inner">
        <h1>{{ '404.title' | t }}</h1>
        <div>{{ '404.not_found' | t }}</div>
        {% render 'button', 
          href: routes.root_url, 
          label: '404.back' | t, 
          variant: 'primary' 
        %}
      </div>
    </div>
  </div>
</div>