<div class="shopify-section shopify-section--404">
  <div class="page full-width">
    <div class="page__content">
      <div class="page__inner">
        <h1>404</h1>
        <p>Sorry, this page does not exist.</p>
      </div>
    </div>
  </div>
</div>