<div class="shopify-section">
    <div class="product full-width">
        <div class="product__content">
            <div class="product__inner--left">
                <img 
                    src="{{ product.featured_image | image_url: width: 400, height: 400  }}" 
                    alt="{{ product.featured_image.alt }}" 
                    class="product__image rounded-lg"
                    loading="lazy"
                    width="400"
                    height="400"
                />
            </div>
            <div class="product__inner--right">
                <h1 class="product__title">{{ product.title }}</h1>
                {% render 'product-price', product: product %}
                {{ product.description }}
                {% render 'product-variants', product: product %}
                {% render 'product-tags', product: product %}
                {% render 'product-meta', product: product %}
                {% render 'product-shipping', product: product %}
                {% render 'product-add-to-bag', product: product %}
            </div>
        </div> 
    </div> 
</div>
